/* TODO: Add sitewide styles */


@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Fredoka:wght@300..700&family=Manjari:wght@100;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #111111;
  color: white;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Utility Class for Flex Centering */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  background: rgba(0, 0, 0, 0.061);
  filter: blur(30px);
  transition: background 0.3s ease, filter 0.3s ease;
}


@media (max-width: 1225px) {
  body * {
    display: none !important;
  }
  body::before {
    content: "This game can be played on desktop only";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
}
